<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deltaware</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body class="fs-6">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light"> @* bootstrap classes for designing the nav bar *@
            <a class="navbar-brand fs-6" href="#">Deltaware</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link fs-6" href="/Products">Products</a>
                </li>

            </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        @model IEnumerable<DeltaWarehouse.Models.ProductService> @* expecting a collection of data from model ProductServices *@

        @{
            ViewData["Title"] = "Products";
        }

        <h1 class="fs-6">@ViewData["Title"]</h1>
        <table class="table table-striped fs-6">
            <thead>
                <tr>
                    <th>Product Id</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td class="fw-bold">@product.ProductId</td>
                        <td>@product.Name</td>
                        <td>@product.Description</td>
                    </tr>
                }
            </tbody>
        </table>

    </main>
    <footer class="footer">
        <div class="container">
            <span class="text-muted">&copy; 2024 - Deltaware</span>
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
